.cs-grey { background-color: grey !important;}

.cs-light-grey { background-color: #F1F1F1 !important }
.cs-dark-grey { background-color: #9E9E9E !important; }

.cs-blue-grey { background-color: #607D8B !important }

.cs-cyan {
  background-color: #00BCD4 !important;
  border: solid 1px #0097A7 !important;
}

.cs-yellow {
  background-color: #FDD835 !important;
  border: solid 1px #F9A825 !important;
}

.cs-purple {
  background-color: #9C27B0 !important;
  border: solid 1px #7B1FA2 !important;
}

.cs-green {
  background-color: #4CAF50 !important;
  border: solid 1px #388E3C !important;
}

.cs-red {
  background-color: #F44336 !important;
  border: solid 1px #D32F2F !important;
}

.cs-blue {
  background-color: #2196F3 !important;
  border: solid 1px #1976D2 !important;
}

.cs-orange {
  background-color: #FF9800 !important;
  border: solid 1px #F57C00 !important;
}
