.js-shadow-piece:not(.js-active-piece) {
  border: solid 1px #F1F1F1 !important;
}

.js-shadow-piece:not(.js-active-piece).cs-yellow {
  opacity: 0.45;
}

.js-shadow-piece:not(.js-active-piece):not(.cs-yellow) {
  opacity: 0.3;
}

.js-shadow-piece:not(.js-active-piece).cs-no-top-border {
  border-top: none !important;
}

.js-shadow-piece:not(.js-active-piece).cs-no-bottom-border {
  border-bottom: none !important;
}

.js-shadow-piece:not(.js-active-piece).cs-no-left-border {
  border-left: none !important;
}

.js-shadow-piece:not(.js-active-piece).cs-no-right-border {
  border-right: none !important;
}
